.bg { position: fixed; top: 0; left: 0; display: block; width: 100%; height: 100%; }

.bg .bg-img { position: relative; display: block; width: 100%; height: 100%; object-fit: cover; }

.bg .bg-fl1 { position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background: #000a; }

.sec { position: relative; display: block; width: 100%; height: 100vh; }

.sec .sec-cn { position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100vh; }

.sec .tx { position: relative; display: block; text-align: center; }

.sec .tx .tx-cn { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; }

.sec .tx .tx-h1-subtx:after { content: ''; position: relative; display: block; margin-top: 10px; font-size: 16px; letter-spacing: 1px; }

.sec .tx .tx-h1-subtx-sec1:after { content: 'We are a professional of masonry.'; }

.sec .tx .tx-h1-subtx-sec2:after { content: 'Bussiness'; }

.sec .mn { position: relative; display: block; }

.sec .mn-dfgrh { display: -webkit-flex; display: -ms-flex; display: flex; width: 100%; justify-content: center; }

.sec .mn-dfgrh .mn-ch { position: relative; display: block; width: 25%; height: 100%; overflow: hidden; }

.sec .mn-dfgrh .mn-ch .mn-ch-img { position: relative; display: block; width: 100%; height: 100%; }

.sec .mn-dfgrh .mn-ch .mn-ch-img img { position: relative; display: block; width: 100%; height: 100%; object-fit: cover; transform: scale(1, 1); transition: .3s; }

.sec .mn-dfgrh .mn-ch .mn-ch-img .mn-ch-img-fr { position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background: #000a; transition: .3s; }

.sec .mn-dfgrh .mn-ch .mn-cn-tx { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; }

.sec .mn-dfgrh .mn-ch .mn-cn-tx h3 { display: inline-block; writing-mode: vertical-rl; letter-spacing: 10px; }

.sec .mn-dfgrh .mn-ch .mn-cn-tx p { transition: .3s; }

.sec .mn-dfgrh .mn-ch:hover .mn-ch-img img { transform: scale(1.2, 1.2); }

.sec .mn-dfgrh .mn-ch:hover .mn-ch-img .mn-ch-img-fr { background: #38c9a7; }

/*=====*/
.he-115vh { height: 115vh; }

.he-130vh { height: 130vh; }

.po-r { position: relative; }

.po-abc { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.po-abt { position: absolute; top: 0; left: 0; }

.bg-white { background: #e7e7e7; }

.m-top30px { margin-top: 30px; }
