header { position: fixed; top: 0; left: 0; display: block; width: 100%; height: 80px; z-index: 100; }

header .header-cn { position: absolute; top: 0; left: 50%; display: flex; width: 1150px; height: 100%; transform: translateX(-50%); justify-content: space-between; }

header .header-cn .logo { position: relative; display: inline-block; height: 100%; }

header .header-cn .logo img { position: relative; display: inline-block; height: 70px; margin-top: 5px; margin-left: 20px; object-fit: cover; }

header .header-cn .menu { position: relative; display: inline-block; height: 100%; }

header .header-cn .menu a { position: relative; display: inline-block; height: 50px; margin: 15px 2.5px; padding: 0px 20px; border-radius: 5px; color: #fff; font-weight: 700; font-size: 16px; line-height: 50px; text-decoration: none; }

header .header-cn .menu a:hover { background: #e7e7e7; color: #222; }

header .header-cn .menu a.contact { color: #e7e7e7; }

header .header-cn .menu a.contact:hover { background: #38c9a7; }

.bg { position: fixed; top: 0; left: 0; display: block; width: 100%; height: 100%; }

.bg .bg-img { position: relative; display: block; width: 100%; height: 100%; object-fit: cover; }

.bg .bg-fl1 { position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background: #000a; }

.sec { position: relative; display: block; width: 100%; height: 100vh; }

.sec .sec-cn { position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100vh; }

.sec .tx { position: relative; display: block; text-align: center; }

.sec .tx .tx-cn { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; }

.sec .tx .tx-cn a { display: inline-block; width: auto; padding: 10px 20px; background: transparent; border: 2px solid #38c9a7; border-radius: 5px; font-weight: 700; color: #38c9a7; text-decoration: none; }

.sec .tx .tx-cn a:hover { background: #38c9a7; color: #e7e7e7; }

.sec .tx .tx-h1-subtx:after { content: ''; position: relative; display: block; margin-top: 10px; font-size: 16px; letter-spacing: 1px; }

.sec .tx .tx-h1-subtx-sec1:after { content: 'We are a professional of masonry.'; }

.sec .tx .tx-h1-subtx-sec2:after { content: 'Bussiness'; }

.sec .mn { position: relative; display: block; }

.sec .mn-dfgrh { display: -webkit-flex; display: -ms-flex; display: flex; width: 100%; justify-content: center; }

.sec .mn-dfgrh .mn-ch { position: relative; display: block; width: 25%; height: 100%; overflow: hidden; }

.sec .mn-dfgrh .mn-ch .mn-ch-img { position: relative; display: block; width: 100%; height: 100%; }

.sec .mn-dfgrh .mn-ch .mn-ch-img img { position: relative; display: block; width: 100%; height: 100%; object-fit: cover; transform: scale(1, 1); transition: .3s; }

.sec .mn-dfgrh .mn-ch .mn-ch-img .mn-ch-img-fr { position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background: #000a; transition: .3s; }

.sec .mn-dfgrh .mn-ch .mn-cn-tx { position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%, -50%); text-align: center; }

.sec .mn-dfgrh .mn-ch .mn-cn-tx h3 { display: inline-block; }

.sec .mn-dfgrh .mn-ch .mn-cn-tx p { transition: .3s; }

.sec .mn-dfgrh .mn-ch:hover .mn-ch-img img { transform: scale(1.2, 1.2); }

.sec .mn-dfgrh .mn-ch:hover .mn-ch-img .mn-ch-img-fr { background: #38c9a7; }

/*=====*/
.he-115vh { height: 115vh; }

.he-130vh { height: 130vh; }

.po-r { position: relative; }

.po-abc { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.po-abt { position: absolute; top: 0; left: 0; }

.bg-white { background: #e7e7e7; }

.m-top30px { margin-top: 30px; }
